:root {
  --font-head: 'Calibre', 'San Francisco', Arial, sans-serif;
  --font-body: 'Calibre', 'San Francisco', Arial, sans-serif;
  --font-mono: 'Fantasque Sans Mono', monospace;

  --color-fg: #335;
  --color-bg: #FFF;
}
